################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ADOT.TransPort/.vs
/ADOT.TransPort/API/bin
/ADOT.TransPort/API/obj/Debug
/ADOT.TransPort/Entities/obj/Debug
/ADOT.TransPort/packages
/ADOT.TransPort/Repository/obj/Debug
/ADOT.TransPort/Web/Bin
/ADOT.TransPort/Entities/bin/Debug
/ADOT.TransPort/Repository/bin/Debug
/ADOT.TransPort/API/obj/Release
/ADOT.TransPort/Entities/obj/Release
/ADOT.TransPort/Repository/obj/Release
/ADOT.TransPort/Repository.EF/obj/Debug
/ADOT.TransPort/API/.user
/ADOT.TransPort/Repository.EF/bin
/ADOT.TransPort/Repository.EF/bin/Debug
/ADOT.TransPort/Repository.EF/Repository.EF.csproj.user
/ADOT.TransPort/Repository/Repository.csproj.user
/DataAccessSolution/DataAccess/bin
/DataAccessSolution/DataAccess/obj
/DataAccessSolution/.vs/DataAccessSolution/v15/.suo
/DataAccessSolution/DataAccessWebApiTest/bin
/DataAccessSolution/DataAccessWebApiTest/obj/Debug
/DataAccessSolution/packages
/DataAccessSolution/Tester/bin/Debug
/DataAccessSolution/Tester/obj/Debug
/DataAccessSolution/.vs/DataAccessSolution/v15/Server/sqlite3
*.dll
*.pdb
/ADOT.TransPort/Models/obj/Debug
/ADOT.TransPort/Repository.Ado/obj/Debug
*.user
/ADOT.TransPort/Repository.Ado/bin/Debug
/ADOT.TransPort/Repository.Mock.Ado/bin/Debug
/ADOT.TransPort/Repository.Mock.Ado/obj/Debug
/ADOT.TransPort/DataAccess/bin
/ADOT.TransPort/DataAccess/obj
/ADOT.TransPort/Logic/bin/Debug
/ADOT.TransPort/Logic/obj/Debug
/ADOT.TransPort/Repository.Mock.Ado/obj/Debug
/ADOT.TransPort/BusinessLogic/obj/Debug
/ADOT.TransPort/Entities/bin/Release
/ADOT.TransPort/Logic/bin/Release
/ADOT.TransPort/Logic/obj/Release
/ADOT.TransPort/Repository/bin/Release
/ADOT.TransPort/Models/obj/Release
/ADOT.TransPort/Repository.Ado/bin/Release
/ADOT.TransPort/Repository.Ado/obj/Release
/ADOT.TransPort/Repository.EF/obj/Release
/ADOT.TransPort/Repository.Mock.Ado/bin/Release
/ADOT.TransPort/Repository.Mock.Ado/obj/Release
/ADOT.TransPort/Models/bin/Debug/Newtonsoft.Json.xml
/ADOT.TransPort/Database/.idea
.history
/ADOT.TransPort/Models/bin/Release/Newtonsoft.Json.xml
/ADOT.TransPort/Database.zip
/ADOT.TransPort/Reports/rptSigTripDetails.rdl
/ADOT.TransPort/Reports/rptRestrictedUse3DayPermit.rdl
/ADOT.TransPort/Reports/rptPermitPayments.rdl
/ADOT.TransPort/Reports/rptPermitModificationReport.rdl
/ADOT.TransPort/Reports/rptPermitFees.rdl
/ADOT.TransPort/Reports/rptEZPaySearchResults.rdl
/ADOT.TransPort/Reports/rptEPResponse.rdl
/ADOT.TransPort/Reports/rptClassCReqsByUser (1).rdl
/ADOT.TransPort/Reports/rptCItationSearch (1).rdl
/ADOT.TransPort/Reports/rpt90DayNRPermit.rdl
/ADOT.TransPort/Reports/rptPermitSearch.rdl~HEAD
/ADOT.TransPort/Reports/bin

